.display{
    box-sizing: border-box;
    background: #000000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width:150px;
    height:20px;
    margin: 150px auto 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    color: #FFFFFF;
}
